
*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

header{
    background-color:#f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo{
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation{
    color: #3a6cf4;
    text-decoration: none;
    font-size:  1.1em;
    font-weight: 500;
    padding-left: 30px;
    display: flex;
    gap: 35px;
}

.navigation a:hover{
    color: blue;
}

section{
    padding: 100px 200px;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #0f172a;
}

.cover-photo{
    background: linear-gradient(135deg, #00e5ff, #2563eb);
    width: 520 px;
    height: 520 px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}
.my-photo{
    width: 470px;
    height: 470px;
    border-radius: 50%;
    object-fit: cover;
    float: left;
    margin-right: 30px;
    border: 8px solid #fff;
}

.main h2{
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span{
    color: #4e9eff;
    font-size: 3em;
    font-weight: 600;
    margin-top: 10px;
}

.main h3{
    color: #fff;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.social-icons a{
    color: #fff;
    font-size: 1.7em;
    padding: 15px;
}

.contact-btn{
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 1em 2em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7 ease;
}

.contact-btn:hover{
    background-color: blue;
    transform: scale(1.1);
} 

footer{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 20px;
}